body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
  margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-image: url(images/bg.png);
	font-family: 'Economica', sans-serif;
}

#container {
	margin-top: 50px;
	margin-left: 12%;
	margin-right: 10%;
}

#sidebar {
	float: left;
	width: 178px;
	height: 2000px;
	margin-left: 30px

}

#main {
	float: right;
	position: relative;
	margin-right: 40px;
}

#about {
	font-size: 24px;
	padding: 5px 5px;
	margin-bottom: 5px;

}

ul#sidebar_nav {
	list-style: none;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 28px;
}

ul#sidebar_nav li a:link, nav ul li a:visited {
	display: block;
	padding: 5px 20px;
	margin-bottom: 5px;
	width: 138px;
	height: 35px;
	background: #707070;
	color: #ffffff;
	text-align: right;
	text-decoration: none;
	font-family: economica;
	font-size: 28px;
	list-style-type: none;
}

#twitter {
	float: right;
	margin-top: 5px;
}

#facebook {
	position: relative;
	float: right;
	padding: 5px;
}

.title {
	float: left;
	padding-left: 10px;
	margin-bottom: 10px;
	background: #707070;
	color: #ffffff;
	text-align: left;
	width: 709px;
}

#content .story-item {
	position: relative;
	width: 230px;
	float: left;
	padding-right: 11px;
	padding-left: 1px;
	padding-top: 5px;
}

#contact {
	display: inline;
	float: left;
	background: #707070;
	color: #ffffff;
	padding: 4px;
	margin-top: 5px;
	width: 709px;
	height: 200px;
}


#footer p#copyright {
	font-size: 12px;
	float: left;
	margin: 0;
	color: #b8b6b2;
}





