{% include header.html %}

	<div class="container">
		<div class="ui page grid">
			<div class="column">
				<img class="rounded ui image" src="/images/flower.jpg">
				<div class="ui secondary inverted bottom attached segment">
					<!-- insert post title -->
					<h1>Check this out</h1>
					<!-- insert post summary -->
					<p>While my elves are hard at work constructing this site, please feel free to check out my <a href="https://www.linkedin.com/in/fangkfang">LinkedIn</a>
					.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="ui page two column grid">
			<div class="column">
				<img class="rounded ui image" src="/images/flower.jpg">
				<div class="ui secondary inverted bottom attached segment">
					<!-- insert post title -->
					<h1>Check this out</h1>
					<!-- insert post summary -->
					<p>While my elves are hard at work constructing this site, please feel free to check out my <a href="https://www.linkedin.com/in/fangkfang">LinkedIn</a>
					.</p>
				</div>
				<img class="rounded ui image" src="/images/flower.jpg">
				<div class="ui secondary inverted bottom attached segment">
					<!-- insert post title -->
					<h1>Check this out</h1>
					<!-- insert post summary -->
					<p>While my elves are hard at work constructing this site, please feel free to check out my <a href="https://www.linkedin.com/in/fangkfang">LinkedIn</a>
					.</p>
				</div>
			</div> 
			<div class="column">
				<img class="rounded ui image" src="/images/flower.jpg">
				<div class="ui secondary inverted bottom attached segment">
					<!-- insert post title -->
					<h1>Check this out</h1>
					<!-- insert post summary -->
					<p>While my elves are hard at work constructing this site, please feel free to check out my <a href="https://www.linkedin.com/in/fangkfang">LinkedIn</a>
					.</p>
				</div>
				<img class="rounded ui image" src="/images/flower.jpg">
				<div class="ui secondary inverted bottom attached segment">
					<!-- insert post title -->
					<h1>Check this out</h1>
					<!-- insert post summary -->
					<p>While my elves are hard at work constructing this site, please feel free to check out my <a href="https://www.linkedin.com/in/fangkfang">LinkedIn</a>
					.</p>
				</div>
			</div>
		</div>
	</div>

{% include footer.html %}