
<!DOCTYPE html>
<html>
  <head>
    <title>Eat Dirt!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.poptrox.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/init.js"></script>
    <noscript>
      <link rel="stylesheet" href="css/skel.css" />
      <link rel="stylesheet" href="css/style.css" />
      <link rel="stylesheet" href="css/style-xlarge.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <link rel="shortcut icon" type="image/png" href="images/turtle.png">
  </head>
  <body id="top">
  ew
  <!-- Header -->
      <header id="header">
        <a href="#" class="image avatar"><img src="images/portrait.jpg" alt="My Photo Here!" /></a>
        <h1>Hello there! <strong>I am Kelly Fang.</strong> Champion napper, chocolate lover and serial dabbler. I currently do product at <a href="http://www.cbsinteractive.com/brands/technology/">CBS Interactive.</a></h1>
      </header>
  <!-- Main-->
    <div id="main">

 <!-- One -->
        <section id="one">
            <h1>Experience</h1>
            <div class="row">
              <div class="8u">
                <h3>CBS INTERACTIVE</h3>
              </div>
              <div class="8u">
              <h4>Associate Product Manager - B2B Brands (ZDNet.com, Techrepublic.com, Techproresearch.com)</h4>
              </div>
              <div class="4u">
                <h4>January 2014 - Present</h4>
              </div>
              <div class="10u">
              <p>Product lead for <a href="www.zdnet.com">ZDnet.com</a> redesign project. ZDNet.com is the biggest B2B brand with 23 million monthly uniques. Oversaw the SEO and search tracks for ZDNet re-platform, working with SEO team and search engineers. Implemented A/B testing strategy for B2B group, establishing standards for experiment setup and core KPIs.</p>
              </div>
               <div class="8u">
                <h4>Product Manager Intern - Download.com</h4>
              </div>
              <div class="4u">
                <h4>June 2013- Aug. 2013</h4>
              </div>
              <div class="10u">
              <p>Worked with senior product managers on project roadmap and product defnition for a site with 80 million monthly uniques. Helped launch French edition of Download.com <a href="telecharger.cnet.com">telecharger.cnet.com</a>. Primary Lead on documentation project for 20+ Download.com pagetypes.</p>
              </div>
            </div>

            <div class="row">
              <div class="8u">
                <h3>THE DAILY CALIFORNIAN</h3>
              </div>
              <div class="8u">
                <h4>Online Managing Editor</h4>
              </div>
              <div class="4u">
                <h4>May 2012-May 2013</h4>
              </div>
              <div class="10u">
              <p>Hired and lead a team of 10 web developers and web designers to design, develop and launch new, innovative editorial web projects. I championed site stability and moving our domains on to a CDN.  Achieved 21% increase in pageviews and 43% increase in unique visitors year over year through strategical social media campaigns and Google analytics.</p>
              </div>
              <div class="8u">
                <h4>Multimedia Editor </h4>
              </div>
              <div class="4u">
                <h4>May 2011-Dec. 2011</h4>
              </div>
              <div class="10u">
              <p>Directed and  produced video for our national award-winning multimedia project: <a href="dreamstate.dailycal.org">dreamstate.dailycal.org</a>.
              Developed and implemented recruitment plan to expand the multimedia team of 4 producers to a team of 18.</p>
              </div>
           </div> 
          </section>

          <section id="two">
            <h1>Skills</h1>
            <div class="row">            
              <div class="6u">
              <h3>TECHNICAL</h3> 
              <h4>HTML5 | CSS |  jQuery | Git | SQL | Google Apps Scripts</h4>
              </div>
              <div class="6u">
              <h3>PROJECT MANAGEMENT</h3>
              <h4>Atlassian Suite (Jira, Confluence, Bamboo) | Trello | Omniplan </h4>
              </div>
              <div class="6u">
              <h3>BENCHMARKING</h3>
              <h4>Optimizely | Adobe Omniture Sitecatalyst | Google Analytics | Usertesting.com | Clicktale </h4>
              </div>
              <div class="6u">
              <h3>DESIGN</h3>
              <h4>Adobe Photoshop, Illustrator | Omnigraffle | Sketch | Keynote | InVision </h4>
              </div>
            </div>
          </section>

          <section id="three">
              <div class="8u">
                <ul class="actions">
                <li><a href="/assets/KfangResume.pdf" class="button">DOWNLOAD FULL RESUME</a></li>
                <li><a href="mailto:fanyun.fang@gmail.com" class="button">GET IN TOUCH</a></li>
                </ul>
              </div>
          </section>
    </div> 

</html>
    <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li><a href="https://twitter.com/fangKfang" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="https://github.com/fangKfang/" class="icon fa-github"><span class="label">Github</span></a></li>
          <li><a href="https://www.linkedin.com/in/fangkfang" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
          <li><a href="https://www.flickr.com/photos/fangkfang/" class="icon fa-flickr"><span class="label">Flickr</span></a></li>
          <li><a href="mailto:fanyun.fang@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
          <li>&copy; 2015 Kelly Fang </li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>

  </body>
</html>
