
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> {{ page.title }}</title>
        <link rel=stylesheet type="text/css" href="http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto+Condensed:300italic,400italic,300,400|Open+Sans:400italic,600italic,400,600,300|Oleo+Script+Swash+Caps:400,700"/> 
        <link rel=stylesheet href="/css/splash.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
      <div id="main">
        <div class="profile"> 
          <a href="#"><img src="images/portrait.png" alt="image" /></a>
        </div>
        <header>
          <h1>Kelly Fang</h1>
          </header> 
        <p class="about"> MAKER OF ODDS AND ENDS, COLLECTOR OF STORIES.
          <h3> UC Berkeley student studying Political Economy and City Planning. Interested in technology, multimedia, and design.</h3>
        </p>
    </div>
    <nav class="menu">
      <ul id="buttons">
        <li><a href="mailto:fanyun.fang@gmail.com">EMAIL</a></li>
        <li><a href="assets/KfangResume.pdf">RESUME</a></li>
        <li><a href="/portfolio.html">PROJECTS</a></li>
        <li><a href="http://www.sunsetsattheoffice.tumblr.com">BLOG</a></li>
      </ul>
    </nav>
    </body>
</html>
